@model PhotoSharingApplication.Models.Photo

@{
    ViewBag.Title = "Create New Photo";
}

<h2 class="center-block page-header" >What's your meme today?</h2>

    @using (Html.BeginForm("Create", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.ValidationSummary(true)
                       
            
                @Html.LabelFor(model => model.Title):
            <div class="form-group">
                @Html.EditorFor(model => model.Title, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.Title)
            </div>
                @Html.LabelFor(model => model.PhotoFile)
            <div class="form-group">
                <input type="file" name="Image" />
            </div>
                @Html.LabelFor(model => model.Description):
            <div class="form-group ">
                @Html.EditorFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
                @Html.LabelFor(model => model.Location):
            <div class="form-group">
                @Html.EditorFor(model => model.Location, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Location)
            </div>
                @Html.LabelFor(model => model.UserName):
                @Html.DisplayFor(model => model.UserName)
                @Html.LabelFor(model => model.CreatedDate):
                @Html.DisplayFor(model => model.CreatedDate)

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
                        @Html.ActionLink("Back to List", "Index")
    
            </div>
    }