@model IEnumerable<PhotoSharingApplication.Models.Photo>


@for (int i = 0; i < Model.Count(); i++)
{
        var item = Model.ElementAt(i);

      


        <div class="col-md-4">
            <h3 class="text-primary">"@item.Title"</h3>


            <a class="thumbnail" href="@Url.Action("Display", "Photo", new { id = item.PhotoID })"><img class="thumbnail img-thumbnail" src="@item.AzurePath" /></a>


            <div class="caption">

                <div>
                    <span>
                        Created By:
                    </span>
                    <span>
                        @Html.DisplayFor(model => item.UserName)
                    </span>
                </div>

                <div>
                    <span>
                        Created On:
                    </span>
                    <span>
                        @Html.DisplayFor(model => item.CreatedDate)
                    </span>
                </div>

            </div>

            <div class="btn-group-sm">
                <div class="btn btn-sm btn-info">@Html.ActionLink("Display", "Display", new { id = item.PhotoID })</div>
                <div class="btn btn-sm btn-warning">@Html.ActionLink("Delete", "Delete", new { id = item.PhotoID })</div>
            </div>

        </div>
       
    
}


